:root {
  --h-header: 70px;
  --w-aside: 70px;
}

/***********
  UTILITY
***********/
.debug {
  border: 1px solid black;
  background-color: rgba(0, 128, 0, 0.2)yellow;
}



/***********
  GENERAL
***********/
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

header {
  height: var(--h-header);
  background-color: blueviolet;     /*DEBUG*/
}

main {
  height: calc(100% - var(--h-header));
}

.as_main-contents {
  width: calc(100% - var(--w-aside));
  background-color: green;        /*DEBUG*/
}

aside {
  width: var(--w-aside);
  background-color: red;          /*DEBUG*/
}


/***************
  MEDIA QUERY
***************/
@media (min-width: 768px) {
  body {
    --w-aside: 75px;
  }
}

@media (min-width: 1200px) {
  body {
    --w-aside: 150px;
  }
}
